@{
    ViewData["Title"] = "Home Page";
}
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
    </ul>

        <div class="main" ng-app="app" ng-controller="seasoncontroller">
           <div class="container-fluid">
               <div class="row" >
                    <div class="col-sm-4" ng-repeat="league in leagues| filter:leagueNameFilter" >
                        <div class="content" ng-click="clickMe($event);">
                        <div class="league">
                            {{league.league}}
                        </div>
                        <div class="year">
                            {{league.year}}
                        </div>
                            </div>
                   </div>                   
                </div>
            </div>
        </div>



