@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <div class="carousel-inner" role="listbox">
        <div ng-app="app" ng-controller="seasoncontroller">
            <div ng-repeat="league in leagues">
                {{league._links.self.href}}   <br/>
            </div>
        </div>
    </div>
</div>

